html {
  background-color: black;
}

body {
  background: none;
  color: #c61b15;
  font-family: 'VT323', monospace;
}

strong {
  color: #c61b15;
}

.nav-link, .navbar-brand{
  font-size: 150%;
  color: #c61b15;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #c61b15;
  border-color: #c61b15;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #c61b15;
  border-color: #c61b15;
}

.btn {
  text-align: center
}

.card {
  border-color: black;
}

.card-title {
  color: #c61b15;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.description {
  background-image: url(/st.jpg);
  background-repeat: repeat-x;
}

.jumbotron {
  background: none;
  background-image: url(/st.jpg);
  background-size: cover;
  color: #c61b15;
}

 
